<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">

	<th:block th:fragment="content">
	
	<div class="main-table">
		<h1>VOC Detail</h1>
			
				<table border="1" cellpadding="0" cellspacing="0">
					<tbody th:each="dto : ${penVoc}">
						<tr>
							<td>No.</td>
							<td>[[${dto.rowNum}]]</td>
						</tr>
						<tr>
							<td>식별번호</td>
							<td>[[${dto.vid}]]</td>
						</tr>
						<tr>
							<td>penalty아이디</td>
							<td>[[${dto.pid}]]</td>
						</tr>
						<tr>
							<td>운송사</td>
							<td>[[${dto.carrierCpnCaid}]]</td>
						</tr>
						<tr>
							<td>고객사</td>
							<td>[[${dto.clientCpnClid}]]</td>
						</tr>
						<tr>
							<td>기사확인여부</td>
							<td>[[${dto.deliveryCheck}]]</td>
						</tr>
						<tr>
							<td>이의제기여부</td>
							<td>[[${dto.deliveryAgree}]]</td>
						</tr>
						
						<tr>
							<td>배송기사</td>
							<td>[[${dto.deliveryDid}]]</td>
						</tr>
						<tr>
							<td>귀책내용</td>
							<td>
							<textarea cols="40" rows="10">[[${dto.respReason}]]</textarea>
							</td>
						</tr>				
						<tr>
							<td>비용청구 내용</td>
							<td>[[${dto.penaltyCost}]]</td>
						</tr>
						<tr>
							<td>voc작성자</td>
							<td>[[${dto.vocWrite}]]</td>
						</tr>
						<tr>
							<td>voc최종수정일</td>
							<td>[[${dto.vocRegdate}]]</td>
						</tr>
						<tr>
							<td>penalty작성자</td>
							<td>[[${dto.penaltyWriter}]]</td>
						</tr>
						<tr>
							<td>penalty최종 수정일</td>
							<td>[[${dto.penaltyRegdate}]]</td>
						</tr>
						
					</tbody>
				
				</table>
			</div>
			
			<div>
			
				
				<a  th:href="@{/voc/after-voc-list}"><button>목록으로 돌아가기</button></a>
			</div>
			
			
		
	</th:block>
</th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
</body>
</html>